<link rel="stylesheet" href="/css/_home.css">
<div id="home-container">
    <% if(user){%>
        <a id="export-button" href="/export_file"><button>Download File</button></a>
        <%}%>

    <h1>Welcome to Placement Cell <% if(user){%><%= user.name %><%}%></h1>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This project entails developing a comprehensive web application for a Coding Ninja's internal use, enabling employees to manage student interview data efficiently. Key functionalities include user authentication, student and interview management, result allocation, and external job listings. The application maintains a database with detailed student information, including course scores and interview results, facilitating easy retrieval and CSV download for report generation.</p>
</div>