#signin-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        color: #944E63;
        text-align: center;
    }

    #create-sessions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            width: 25rem;
            color: #2C3333;
            font-size: 1.2rem;
            height: 2.5rem;
            border-radius: 10px;
            margin: 10px 0px;
            padding-left: 20px;
            border: 2px solid #CAA6A6 ;
        }
        input[type="submit"]{
            font-size: 1.5rem;
            color: #ffffff;
            margin-top: 2rem;
            width: 26.5rem;
            border: none;
            background-color: #944E63;
            padding-left: 0px 20px;

        }
    }

    #signin-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            color: #944E63;
            padding-top: 1.5rem;
            margin-top: 1.5rem;
            width: 40rem;
            display: flex;
            justify-content: center;
            border-top: 2px solid #944E63;
            font-size: 1.2rem;
        }
        button{
            margin-bottom: 2rem;
            font-size: 1.5rem;
            height: 2.5rem;
            border-radius: 10px;
            border: none;
            width: 26.5rem;
            background-color: #944E63;
            // background-color: #ffffff;
            padding-left: 0px 20px;
            a{
                color: #ffffff;
                text-decoration: none;
            }
            
        }
        #google-signin{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            border: 2px solid #944E63;
            img{
                width: 1.5rem;
                height: 1.5rem;
            }
            a{
                margin-left: 1.5rem;
                color: #2C3333;
                text-decoration: none;
            }
        }
    }
}