#home-container {
  padding: 0px 40px;
  margin-top: 80px; }
  #home-container h1 {
    color: #944E63;
    text-align: center;
    font-size: 4rem; }
  #home-container p {
    font-size: 2rem;
    width: 80%;
    margin: auto;
    color: #944E63; }
