#job-list-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
  align-items: center;
  padding-top: 1rem;
  border-radius: 1rem; }
  #job-list-container #job-list {
    margin-top: 1rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #B47B84;
    align-items: center;
    padding: 0rem 2rem;
    border-radius: 1rem; }
    #job-list-container #job-list .job-details {
      width: 100%; }
      #job-list-container #job-list .job-details #job-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -1.2rem; }
        #job-list-container #job-list .job-details #job-header .job-title {
          width: 50%; }
      #job-list-container #job-list .job-details .btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-start; }
        #job-list-container #job-list .job-details .btn-container a {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
          margin-right: 2rem;
          font-size: 1.5rem;
          height: 2.5rem;
          border-radius: 10px;
          border: none;
          width: 12rem;
          background-color: #944E63;
          padding-left: 0px 20px;
          color: #ffffff;
          text-decoration: none; }
  #job-list-container .show-list {
    width: 60%;
    border-radius: 1rem;
    background-color: #FFE7E7; }
    #job-list-container .show-list #student-list-container {
      padding: 0rem 2rem; }
      #job-list-container .show-list #student-list-container #student-list {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #job-list-container .show-list #student-list-container #student-list #student-option {
          width: 14rem;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          #job-list-container .show-list #student-list-container #student-list #student-option img {
            height: 2rem;
            width: 2rem; }
