#profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFE7E7; }
  #profile-container div {
    margin: 50px; }
  #profile-container h1 {
    font-size: 4rem;
    color: #944E63;
    margin: 5px; }
  #profile-container h3 {
    font-size: 2rem;
    color: #944E63;
    margin: 5px; }
